<!-- Indicateur de connexion Pi -->
<div id="pi-status-indicator" class="pi-status-indicator" title="État du Raspberry Pi">
    <span class="pi-status-dot offline"></span>
    <span class="pi-status-text">hors ligne</span>
</div>

<button id="btn-notifications" class="notification-button" title="Activer les notifications">
    <img src="images/bell.svg" alt="Notifications" class="notification-button-icon">
</button>
<button id="btn-settings" class="settings-button" title="Panneau de contrôle">
    <img src="images/settings.svg" alt="Paramètres" class="settings-button-icon">
</button>
<button id="btn-info" class="info-button">
    <img src="images/infos.svg" alt="Infos" class="info-button-icon">
</button>

