
<div class="video-container">
  <video id="video" class="video" role="application">
    <source src="http://res.cloudinary.com/dkv3sh4oq/video/upload/v1699616842/storybird1/m5zuw20aizfobyahricz.mp4" type="video/mp4">
  </video>
</div>
