html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  padding-bottom: 40px;
}

body {
  margin: 0;
  background-color: #A5D1BA;
}
h1, h2, h3, label {
  font-family: $headers-font;
  text-decoration: none;
}

a, label, input, legend{
  font-family: $body-font;
  text-decoration: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h1 {
  font-size: 24px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
