html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  height: 100vh;
  padding-bottom: 40px;
}

body {
  margin: 0;
  background-color: #A5D1BA;
}
h1, h2, h3, label {
  font-family: $headers-font;
  text-decoration: none;
}

a, label, input, legend{
  font-family: $body-font;
  text-decoration: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h1 {
  font-size: 24px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.sign-up-container {
  width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.video-card {
  position: relative;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.vjs-big-play-button {
  opacity: 0% !important;
  height: 100% !important;
  width: 100% !important;
  position: sticky !important;
}

.vjs-fullscreen-control {
  display: none !important;
}


.vjs-tech, .video-js {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.vjs-theme-sea {
  background-color: black !important;
}

.video-container {
  margin-top: 40px;
  border-radius: 25px 25px 0px 0px;
  width: calc(60vh);
  height: calc(60vh);
  max-width: 90vw;
  max-height: 90vw;
  overflow: hidden;
}

.bottom-video-card {
  border-radius: 0px 0px 25px 25px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.557);
  font-family: $headers-font !important;
  font-weight: bold;
  color: #4496A4;
}

.border-radius {
  border-radius: 25px;
  overflow: hidden;
}

.user-panel {
  display: flex;
}

.delete-button, .add-tag-button, .remove-tag-button{
  height: 30px;
  width: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.delete-video-button {
  left: 5px;
  background-size: 36px;
  background-color: #E38294;
  background-image: image-url("trash2.svg");
}

.add-tag-button {
  right: 5px;
  background-size: 36px;
  background-color: #DD9842;
  background-image: image-url("star.svg");
}

.remove-tag-button {
  right: 5px;
  background-size: 36px;
  background-color: #DD9842;
  background-image: image-url("star.svg");
}

.nav-button {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 5px;
  border-radius: 25px;
  z-index: 10;
}
