.navbar {
  margin-top: 40px;
  color: #4496A4;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
  width: 50px;
}
