.vjs-theme-sea .vjs-big-play-button {
  width: 103px;
  height: 79px;
  -o-object-fit: contain;
  object-fit: contain;
  background-color: hsla(0, 0%, 85%, 0.25);
  border: none;
  line-height: 79px;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  margin: -51.5px auto 0 -39.5px
}

.vjs-theme-sea .vjs-control-bar {
  height: 4em;
  background-color: hsla(0, 0%, 65%, 0.5);
}

.vjs-theme-sea .vjs-button:hover {
  color: #4496A4;
  background-color: hsla(0, 0%, 81%, 0.5);
}

.vjs-theme-sea .vjs-button>.vjs-icon-placeholder:before {
  line-height: 2.2
}

.vjs-theme-sea .vjs-time-control {
  line-height: 4em
}

.vjs-theme-sea .vjs-picture-in-picture-control,
.vjs-theme-sea .vjs-volume-panel {
  display: none
}

.vjs-theme-sea .vjs-progress-control .vjs-play-progress {
  background-color: #4496a4ce;
}

.vjs-theme-sea .vjs-progress-control .vjs-play-progress:before {
  display: none
}

.vjs-theme-sea .vjs-progress-control .vjs-slider {
  background-color: rgba(187, 187, 187, 0.1)
}

.vjs-theme-sea .vjs-progress-control .vjs-load-progress div {
  background-color: hsla(0, 0%, 81%, 0.5);
}

.vjs-theme-sea .vjs-progress-control .vjs-progress-holder {
  margin: 0;
  height: 100%
}

.vjs-theme-sea .vjs-progress-control .vjs-time-tooltip {
  background-color: rgba(65, 188, 106, 0.5);
  color: #cecece
}

.vjs-theme-sea .vjs-progress-control .vjs-mouse-display .vjs-time-tooltip {
  background-color: hsla(0, 0%, 81%, 0.5);
  color: #41bc4b
}
